@media screen and (max-width:460px) {
    * {
        transition: 400ms;
    }

    .icons {
        display: none;
    }

    .posters {
        width: 95%;
    }
    
    .navbar-btn{
        display: block;
    }


}