@media screen and (max-width:650px) {
    * {
        transition: 400ms;
    }

    .icons {
        display: none;
    }

    .posters {
        width: 95%;
    }
    
    .navbar-btn{
        display: block;
    }

    .buy-card {
        width: 95%;
    }

}