/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styling */
header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: white;
    font-size: 24px;
    font-weight: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header .search {
    position: absolute;
    padding: 5px 10px;
    width: 400px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    left: 37%;
    font-weight: bold;
    background-color: #000000;
    color: white;
    outline: none;
    display: none;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 20px;
    width: 250px;
    /* background-color: aqua; */
    gap: 15px;
}

.icon {
    width: 40px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #90909049;
    cursor: pointer;
    color: white;
}

header .profile {
    font-size: 24px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    background-color: #90909049;
    color: white;
}

/* posters Styling */
.posters {
    width: 600px;
    margin-top: 20px;
}

/* Post Styling */
.post {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.post-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.post-header .moviename {
    font-weight: bold;
}

.post-header .time {
    font-size: 12px;
    color: #999;
}

.post-image img {
    margin-left: 5%;
    /* margin: 50px; */
    width: 90%;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}

.post-actions {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.post-actions span {
    font-size: 20px;
    cursor: pointer;
}
.booking-btn{
    /* margin-right: 20px; */
    width: 100px;
    height: 40px;
    background-color: rgb(153, 255, 0);
    border: none;
    border-radius: 5px;
}
.booking-btn a{
    color: #000000;
    text-decoration: none;
}

.post-description {
    padding: 10px;
}

/* Footer Styling */
footer {
    background-color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}